NODE_ENV=development
DOMAIN=http://127.0.0.1
PORT=8080

SEFINEK_API=http://127.0.0.1:4010

# auto - wykrywanie wersji po domenie (config/sites.js), poland - wymusza wersję polską, global - wymusza wersję globalną
SITE_MODE=auto

# MongoDB
MONGODB_URL=

# Redis
REDIS_HOST=
REDIS_PASSWD=
